main{
    margin: 0 5%;
}
/*---- メニュー ----*/
#menu {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
#menu a{
    flex: auto;
    margin: 2px  2px 0px 2px;
    width: 85px;
    height: 85px;
    max-width: 85px;
    text-align: center;
}
.menu-img{
    height: auto;
    width: auto;
    max-height: 85px;
    max-width: 85px;
}

/*---- コントロールグループ ----*/
.control-group{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.control-group label{
    padding-right: 7px;
    flex: initial;
    width: 100px;
    text-align: center;
    vertical-align: middle;
}
 .control-group input, select{
     height: inherit;
     width: 130px;
     flex: 3 1 auto;
}
.unit{
    margin-left: 5px;
    width: 2.5em;
}

.from_title{
    text-align: center;
}
.from_img{
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
}

.calcbutton{
    margin: 15px;
}

button{
    margin: 0 40%;
}