main{
    margin: 0 5%;
}

.control-group{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.control-group label{
    padding-right: 7px;
    flex: initial;
}

 .control-group input, select{
     height: inherit;
     width: 130px;
     flex: 3 1 auto;
}

.control-group span{
    height: inherit;
    padding-left: 4px;
}

.from_title{
    margin-left: 6em;
}

.calcbutton{
    margin: 15px;
}

button{
    margin: 0 40%;
}