main{
    margin: 0 5%;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

#menu a{
    flex: auto;
    margin: 2px  2px 0px 2px;
    max-height: 85px;
    max-width: 85px;
}

.menu-img{
    height: 100%;
    width: 100%;
}

.control-group{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.control-group label{
    padding-right: 7px;
    flex: initial;
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

 .control-group input, select{
     height: inherit;
     width: 130px;
     flex: 3 1 auto;
}

.control-group select{
    margin-right: 2em;
}

.control-group span{
    height: inherit;
    padding-left: 4px;
}

.from_title{
    text-align: center;
}

.from_img{
    height: 100px;
    width: 100px;
}

.calcbutton{
    margin: 15px;
}

button{
    margin: 0 40%;
}